{% extends "base.html" %}
{% block title %}Все Сообщества{% endblock %}
{% block header %}Все Сообщества{% endblock %}
{% block content %}

    {% for group in page %}
        <h3><a href="{{ group.slug }}">{{ group.title }}</a></h3>
        <p>{{ group.description | linebreaksbr}}</p>
        <hr>
    {% endfor %}

    {% if page.has_other_pages %}

        {% include "paginator.html" with items=page paginator=paginator %}

    {% endif %}

    <p><a href="{% url 'index' %}">На главную</a></p>

{% endblock %}