{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} {{ user.get_full_name }} {% endblock %}
{# ADD SOMETHING HERE #}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            <!-- Имя автора -->
                            {{ user.get_full_name }}
                        </div>
                        <div class="h3 text-muted">
                            <!-- username автора -->
                            @{{ user.username }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Подписчиков: XXX <br/>
                                Подписан: XXX
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                <!-- Количество записей -->
                                Записей: {{ user.posts.count }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">

                <!-- Пост -->
                <div class="container">
                    {% include 'post_item.html' with post=post %}
                    {% include 'comments.html' %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}