{% extends 'base.html' %}
{% block title %} {{ user.get_full_name }} {% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">

            {% include 'sidebar.html' %}

            <div class="col-md-9">

                <!-- Пост -->
                <div class="container">
                    {% include 'post_item.html' with post=post on_post='True' %}
                </div>
                <div class="container">
                    {% include 'comments.html' %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}