{% extends 'base.html' %}
{% block title %} {{ user.get_full_name }} {% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">

            {% include 'sidebar.html' %}

            <div class="col-md-9">

                <!-- Начало блока с постами -->
                <div class="container">
                    {% for post in page %}
                        {% include 'post_item.html' with post=post %}
                    {% endfor %}
                </div>

                {% if page.has_other_pages %}
                    {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}